.profile {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 2px gray;
    
    
}
.description {
    text-align: center;
}
.description img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px auto 25px;
    border-radius: 50%;
    background-color: bisque;

}

.name {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
}

.tag, 
.location {
    margin: 0 0 10px;
    font-size: 16px;
    color: rgb(128, 128, 128);
}

.stats {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 0;
    margin: 10px auto;
    list-style: none;
}
.stats li {
    text-align: center;
}

.label {
    display: block;
    font-size: 12px;
    color: grey;
}

.quantity {
    display: block;
    font-size: 15px;
    font-weight: bold;

}