table {
    margin: 10px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 7px grey;
    border-radius: 10px;
}

table th {
    padding: 10px 100px;
    text-align: center;
    background-color: rgb(7, 178, 178);
    color: #fff;
    border: 1px  solid #fff;
}

table th:first-child {
    border-top-left-radius: 10px;
}
table th:last-child {
    border-top-right-radius: 10px;
}

table td {
    text-align: center;
    color: gray;
    padding: 10px 100px;
}

table td:nth-child(2){
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: rgba(128, 128, 128, 0.498);
}
